@CHARSET "UTF-8";
/*
// --------------------------------------------------------------------------------------------------------------------
// Login Screen Definitions
// --------------------------------------------------------------------------------------------------------------------
*/

BODY {padding:0; font-family: Tahoma,Arial, Helvetica, sans-serif;  font-size: 90%; scrollbar-face-color: #CFDBEF; scrollbar-highlight-color: #F1F9FE; scrollbar-3dlight-color: #ABBBC7; scrollbar-darkshadow-color: #7F9CB2; scrollbar-shadow-color: #CAE4F8; scrollbar-arrow-color: #7F9CB2; scrollbar-track-color: #F2F2F2; height: 100%;}

.errorgeneral {background-color: #F6F6F6; border: 1px solid #999999; padding: 6px;}

.loginbg {background-color: #F6F6F6;}

.logintop {background-color:#E7EFFC; background-image: url(../images/login_banner_bg.gif); background-repeat: repeat-x; background-position: top; border: 1px solid #19355E;}

.logintopError {background-image: url(images/login_banner_bg.gif); background-repeat: repeat-x; background-position: top; border: 1px solid #19355E;}

.loginmain {background-color: #FFFFFF; border-left: 1px solid #19355E; border-right: 1px solid #19355E; padding: 10px;}

.loginbottom{background-image: url(../images/login_bottom.gif); background-repeat: repeat-x;}

.loginbottomError{background-image: url(images/login_bottom.gif); background-repeat: repeat-x;}

.logintext {font-family: Tahoma,Arial, Helvetica, sans-serif;  font-size: 90%;}

.logintextbold {font-family: Tahoma,Arial, Helvetica, sans-serif;  font-size: 90%; font-weight: bold;}

.logintexterror {font-family: Tahoma,Arial, Helvetica, sans-serif;  font-size: 90%; color: #AD0E25;}

.logoutwithlocktop {background-image: url(../images/login_banner_bg.gif); background-repeat: repeat-x; background-position: top; border: 1px solid #19355E;}

.logoutwithlockbottom{background-image: url(../images/login_bottom.gif); background-repeat: repeat-x;}

.formButton, .formButton:ACTIVE {height: 24px; font-size:85%;font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; vertical-align: middle; color:#000000; background-color: #8EA8C6;  background-image: url(../images/button_bg.gif);  background-repeat: repeat-x;
border: 1px solid #4A637B; padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 8px; overflow:visible; background-position: top;}

.formButton:HOVER {height: 24px; font-size:85%;font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; vertical-align: middle; color:#FFFFFF; background-color: #19355E;  background-image: url(../images/button_bg_hover.gif);  background-repeat: repeat-x;
border: 1px solid #19355E;  padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 8px; overflow:visible; background-position: bottom;}

/*  Needed for accessing images from another directory  */
.buttonLoginError, .buttonLoginError:ACTIVE {height: 24px; font-size:85%;font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; color:#000000; background-color: #8EA8C6;  background-image: url(images/button_bg.gif);  background-repeat: repeat-x;
border: 1px solid #4A637B; padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 8px; overflow:visible; background-position: top;}

/*  Needed for accessing images from another directory  */
.buttonLoginError:HOVER {height: 24px; font-size:85%;font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; color:#FFFFFF; background-color: #19355E;  background-image: url(images/button_bg_hover.gif);  background-repeat: repeat-x;
border: 1px solid #19355E;  padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 8px; overflow:visible; background-position: bottom;}

.buttondisabled {height: 24px; font-size:85%;font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; vertical-align: middle; color:#999999; background-color: #eeeeee;  background-image: url(../images/button_disabled_bg.gif);  background-repeat: repeat-x; border: 1px solid #999999; padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 8px; overflow:visible; background-position: top;}

.buttonloginerrordisabled {height: 24px; font-size:85%;font-family: Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; text-align: center; vertical-align: middle; color:#999999; background-color: #eeeeee;  background-image: url(images/button_disabled_bg.gif);  background-repeat: repeat-x; border: 1px solid #999999; padding-top: 2px; padding-bottom: 2px; padding-left: 8px; padding-right: 8px; overflow:visible; background-position: top;}

.textinput{background-color: #E7EFFC; border: 1px solid #19355E; padding-bottom: 2px;}

/* Style for required fields, errors and warnings */
.required {	font-weight: bold; font-size: 18px; color: #de2516; LINE-HEIGHT: 16px; FONT-FAMILY: arial, helvetica, verdana }